body {
  background-color: snow;
  color: black;
  font-family: Arial, sans-serif;
}

#main {
  max-width: 1000px;
  margin: 0 auto;
}

#header {
  background-color: orangered;
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
}

#footer {
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
}

.special-link, .special-link:hover, .special-link:active, .special-link:visited {
  color: white;
}

.centersmol {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}
