@font-face {
  font-family: "Computer Modern";
  src: url('components/cmunss.otf');
}

@font-face {
  font-family: "Computer Modern";
  src: url('components/cmunsx.otf');
  font-weight: bold;
}

@font-face {
  font-family: "Computer Modern";
  src: url('components/cmunsi.otf');
  font-style: italic;
}

@font-face {
  font-family: "Computer Modern";
  src: url('components/cmunbxo.otf');
  font-weight: bold;
  font-style: italic;
}

body {
  background-image: url('images/texture.png');
  color: black;
  font-family: "Computer Modern", sans-serif;
}

#main {
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(2px);
  max-width: 850px;
  margin: 0 auto;
  padding: 5px 25px;
}

#header {
  background-color: darkblue;
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
}

#footer {
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
}

.special-link, .special-link:hover, .special-link:active, .special-link:visited {
  color: white;
  font-weight: bold;
}

.centersmol {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

.tex-a {
	font-size: 0.75em;
	vertical-align: 0.25em;
	margin-left: -0.36em;
	margin-right: -0.15em;
	line-height: 1ex;
}

.tex-e {
	vertical-align: -0.25em;
	margin-left: -0.1667em;
	margin-right: -0.125em;
	line-height: 1ex;
}
