body {
  background-color: white;
  color: black;
  font-family: Arial, sans-serif;
}

#main {
  width: 75%;
  max-width: 100%;
  padding: 0;
  margin: 0 auto;
}

#header {
  background-color: orangered;
  width: 75%;
  max-width: 100%;
  padding: 0;
  margin: 0 auto;
  text-align: center;
}

.special-link, .special-link:hover, .special-link:active, .special-link:visited {
  color: white;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}